.row {

}

/* display images in row */
.row__posters {
    display: flex;
}

/* adjusting image size */
.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 455ms;
}

/* enlarge image when hovering over a poster  */
.row__poster:hover {
    transform: scale(1.09);
}