.row {
    margin-left: 20px;
    /* color: white; */
}

/* display images in row */
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

/* removing the scroll bar */
.row__posters::-webkit-scrollbar {
    display: none;
}

/* adjusting image size */
.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

/* if it's a large row */
.row__posterLarge {
    max-height: 250px;
}
.row__posterLarge:hover {
    transform: scale(1.09);
}

/* enlarge image when hovering over a poster  */
.row__poster:hover {
    transform: scale(1.08);
}